# Lists

Lists are ordered sets of objects.

In [1]:
l = ["first", "second", "third", "fourth"]

Length of the list

In [2]:
len(l)

4

## Accessing list elements

Element at a given position (indexed from 0 .. len-1)

In [3]:
l[1]

'second'

Counting from the right (-len .. -1)

In [4]:
l[-2]

'third'

## Slicing a list

In [5]:
l[1:3]

['second', 'third']

Counting from the right

In [6]:
l[-3:-1]

['second', 'third']

### Extended slicing

Using an optional third "step" argument

In [7]:
l[::2]

['first', 'third']

Negative values also work

In [8]:
l[::-1]

['fourth', 'third', 'second', 'first']

## Membership

In [9]:
print("first" in l)

True

In [10]:
print("fifth" in l)

False

Counting how many times an element appears in a list

In [11]:
l2 = [1, 1, 4, 3, 2, 5, 2, 1]
print(l2.count(1))

3

## Iterating a list

In [12]:
for v in l:
    print(v)

first
second
third
fourth

Iterating with index numbers

In [13]:
for i,v in enumerate(l):
    print(i, ":", v)

0 : first
1 : second
2 : third
3 : fourth

## Manipulating lists

Replacing value

In [14]:
l[1] = "2nd"
print(l)

['first', '2nd', 'third', 'fourth']

Appending an item

In [15]:
l.append("fifth")
print(l)

['first', '2nd', 'third', 'fourth', 'fifth']

Inserting an item at a given offset

In [16]:
l.insert(2, "second")
print(l)

['first', '2nd', 'second', 'third', 'fourth', 'fifth']

Deleting an item (without any arguments it removes the last item)

In [17]:
l.pop(1)
print(l)

['first', 'second', 'third', 'fourth', 'fifth']

Concatenating two lists

In [18]:
la = ["1", "2", "3"]
lb = ["a", "b", "c"]
lc = la + lb
print(lc)

['1', '2', '3', 'a', 'b', 'c']

Repetition

In [19]:
l2 = ["x"] * 4
print(l2)

['x', 'x', 'x', 'x']

Reversing a list (in place)

In [20]:
l.reverse()
print(l)

['fifth', 'fourth', 'third', 'second', 'first']

## Sorting

Basic sorting -- returns a new sorted list

In [21]:
n1 = [5, 3, 1, 7, 2, 6]
n2 = sorted(n1)
print(n2)

[1, 2, 3, 5, 6, 7]

Reverse sorting

In [22]:
n3 = sorted(n1, reverse=True)
print(n3)

[7, 6, 5, 3, 2, 1]

Sorting in place

In [23]:
n4 = list(n1)  # just making a copy of n1
n4.sort()
print(n4)

[1, 2, 3, 5, 6, 7]

## List comprehension

List comprehension is an elegant and concise way to create new list from an existing list

Create a list with squares of numbers from 1 to 10

In [24]:
n = range(1, 11)
s = [i**2 for i in n]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

A list comprehension can optionally contain `if` statements to filter out elements

In [25]:
n = range(1, 11)
s = [i**2 for i in n if i**2 % 3 == 0]
print(s)

[9, 36, 81]